<?php
§CONFIG = array (
  // general settings
  'mail_domain' => '$fqdn',
  'mail_from_address' => '$smtpfrom',
  'mail_smtphost' => '$smtphost',

  // auth settings
  'mail_smtpmode' => 'smtp',
  'mail_smtpauth' => true,
  'mail_smtpsecure' => 'ssl',
  'mail_smtpport' => $smtpport,

  // login data
  'mail_smtpname' => '$smtpname',
  'mail_smtppassword' => '$smtppassword',
);
